llama-index==0.10.9
llama-index-agent-openai==0.1.4
llama-index-core==0.10.9
llama-index-embeddings-huggingface==0.1.1
llama-index-embeddings-openai==0.1.5
llama-index-graph-stores-nebula==0.1.1
llama-index-indices-managed-llama-cloud==0.1.2
llama-index-legacy==0.9.48
llama-index-llms-azure-openai==0.1.2
llama-index-llms-ollama==0.1.1
llama-index-llms-openai==0.1.5
llama-index-multi-modal-llms-openai==0.1.3
llama-index-program-openai==0.1.3
llama-index-question-gen-openai==0.1.2
llama-index-readers-file==0.1.4
llama-index-readers-llama-parse==0.1.2
llama-parse==0.3.4
llamaindex-py-client==0.1.13
streamlit
pyvis
pytest